@keyframes bg-scrolling-reverse {
	100% {
		background-position: 3.25vmax 3.25vmax;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

@keyframes modalOpenFromBottom {
	from {
		top: -20vmax;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

body {
	background: url(images/invertPlotSquare.png) repeat 0 0;
	background-size: 3.2552083vmax 3.2552083vmax;
	animation: bg-scrolling-reverse .92s infinite;
	animation-timing-function: linear;
	
	font-family: Exo, Helvetica, sans-serif;
	font-size: 1.3vmax;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#updateLogModal {
	width: 100%;
	height: 100%;
	margin: 0;
	left: 0;
	top: 0;
	overflow: auto;
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}

#updateLogContent {
	width: 50%;
	margin-left: 25%;
	color: black;
	position: absolute;
	text-decoration: none;
	animation-name: modalOpenFromBottom;
	animation-timing-function: linear;
	animation-duration: 1s;
}

#updateLogHeader {
	text-align: center;
	background-color: white;
	margin: 0;
}

#closeBtn {
	color: black;
	float: right;
	font-weight: bold;
	margin-right: 1vmax;
	margin-top: -0.5vmax;
}

#closeBtn:hover {
	color:	lime;
	cursor: pointer;
}

#updateLogVersions {
	margin: 0;
	padding-top: 1vmax;
	padding-left: 1vmax;
	padding-bottom: 1vmax;
	text-align: left;
	background-color: lightgrey;
}

.optionsDropdown {
	background-color: rgba(0,0,0,0.7);
	color: white;
	font-size: 100%;
	text-align: center;
	text-decoration: none;
	outline: none;
	padding: 0.5% 2%;
	margin-left: 1vmax;
	float: right;
}

.optionsContent {
	display: none;
	cursor: pointer;
}

.optionsDropdown:hover .optionsContent {
	display: block;
}

.optionsContent p:hover {
	color: limegreen;
}

#animationArea, #upgradeArea {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	margin: auto;
	height: 100%;
}

#animationArea {
	width: 75%;
	right: 75%;
	background-color: rgba(255,255,255,0.15);
}

#bitsCounter {
	padding: 1.3vmax 1.3vmax 1.3vmax 1.3vmax;
	width: 50%;
	border-bottom-right-radius: 50%;
	overflow: hidden;
	font-size: 2.6vmax;
	color: white;
	background-color: rgba(0,0,0,0.7);
	left: 8%;
	transform: translate(-50%, -50%);
	position: fixed;
	text-align: center;
	text-decoration: none;
}

#antiIdler {
	top: 45%;
	left: 50%;
	transform: translate(-75%, -50%);
	position: absolute;
}

#clickerButtonArea {
	width: 6.9vmax;
	height: 6.9vmax;
}

#clickerButton {
	width: 150%;
	height: 100%;
	margin: auto;
	position: absolute;
	background-color: darkgrey;
	border-color: #8b8b8b;
	border-radius: 5%;
	border-width: .5vmax;
	border-left-style: solid;
	border-bottom-style: solid;
	outline: none;
	cursor: pointer;
}

#clickerButton.clickerButtonClicked {
	border-style: solid solid none none;
	border-color: #7a7a7a
}

#upgradeArea {
	width: 25%;
	left: 75%;
	background: url(images/cutGreenFallingCode.png) no-repeat;
	background-size: 100% 1.3vmax;
	/*box-shadow:inset 0px 0px 0px 0.65vmax #0a0;*/
	box-sizing: border-box;
	border-left: 0.65vmax solid green;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
}

#upgradeHeader {
	text-align: center;
	text-decoration: none;
	color: white;
}

#upgradeList {
	transform: translate(0.65vmax);
	padding-right: 1.3vmax;
	text-decoration: none;
	color: white;
}

#keyloggerBtn, #phishingSiteBtn, #botnetBtn, #superComputerBtn {
	width: 21.5vmax;
	padding: 1vmax;
	background: url(images/UpgradeButtons.png) no-repeat;
	background-size: 100% 10.612vmax;
	cursor: pointer;
}

#autosaveArea {
	bottom: 0%;
	width: 15%;
	padding-left: 1.3vmax;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	color: white;
	border: none;
	font-size: 100%;
	text-decoration: none;
	opacity: 0;
}

#autosaveArea.anim {
	animation-name: fade;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
