@keyframes bg-scrolling-reverse {
	100% {
		background-position: 3.25vmax 3.25vmax;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

body {
	background: url(images/invertPlotSquare.png) repeat 0 0;
	background-size: 3.2552083vmax 3.2552083vmax;
	animation: bg-scrolling-reverse .92s infinite;
	animation-timing-function: linear;
	
	font-family: Exo;
	font-size: 1.3vmax;
}

#btn {
	background-color: crimson;
	border: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 8%;
	padding: 1% 2%;
	font-size: 100%;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

#saveBtn, #loadBtn {
	background-color: rgba(0,0,0,0.7);
	color: white;
	font-size: 100%;
	text-align: center;
	text-decoration: none;
	border: none;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
	outline: none;
	height: 8vmin;
	padding: 1% 2%;
	position: fixed;
	cursor: pointer;
}

#saveBtn {
	left: 65%;
}

#loadBtn {
	left: 55%;
}

#animationArea, #upgradeArea {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	margin: auto;
	height: 100%;
}

#animationArea {
	width: 75%;
	right: 75%;
	background-color: rgba(255,255,255,0.15);
	visibility: hidden;
}

#bitsCounter {
	padding: 1.3vmax 1.3vmax 1.3vmax 1.3vmax;
	width: 50%;
	border-bottom-right-radius: 50%;
	overflow: hidden;
	font-size: 2.6vmax;
	color: white;
	background-color: rgba(0,0,0,0.7);
	left: 8%;
	transform: translate(-50%, -50%);
	position: fixed;
	text-align: center;
	text-decoration: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#clickerButton {
	width: 6.9vmax;
	height: 6.9vmax;
	background: url(images/Button.png) no-repeat;
	background-size: 100% 6.9vmax;
	cursor: pointer;
	border: none;
	border-radius: 100%;
	outline: none;
}

#antiIdler {
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	text-align: center;
	text-decoration: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#upgradeArea {
	width: 25%;
	left: 75%;
	background: url(images/cutGreenFallingCode.png) no-repeat;
	background-size: 100% 1.3vmax;
	box-shadow:inset 0px 0px 0px 0.65vmax #0a0;
	visibility: hidden;
	overflow: hidden;
	position: absolute;
}

#upgradeHeader {
	text-align: center;
	text-decoration: none;
	color: white;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#upgradeList {
	transform: translate(0.65vmax);
	text-decoration: none;
	color: white;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

td {
	width: 21.5vmax;
	padding: 1vmax;
	background: url(images/UpgradeButtons.png) no-repeat;
	background-size: 100% 10.612vmax;
	overflow: hidden;
	cursor: pointer;
}

#autosaveArea {
	bottom: 0%;
	width: 15%;
	padding-left: 1.3vmax;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	color: white;
	border: none;
	font-size: 100%;
	text-decoration: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	opacity: 0;
}

#autosaveArea.anim {
	animation-name: fade;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
