@keyframes bg-scrolling-reverse {
	100% {
		background-position: 3.25vmax 3.25vmax;
	}
}

@keyframes autosaveFade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

@keyframes textFade {
	from {
		transform: translate3d(0, -5vmax, 0);
		opacity: 1;
	}
	to {
		transform: translate3d(0, -10vmax, 0);
		opacity: 0;
	}
}

@keyframes modalOpenFromBottom {
	from {
		top: -20vmax;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

body {
	background: url(images/invertPlotSquare.png) repeat 0 0;
	background-size: 3.2552083vmax 3.2552083vmax;
	animation: bg-scrolling-reverse .92s infinite;
	animation-timing-function: linear;
	
	font: 1.3vmax "Exo", Helvetica, sans-serif;
	color: white;

	text-shadow: 0.13vmax 0.13vmax 0px darkgreen, -0.13vmax -0.13vmax 0px darkgreen, 0.13vmax -0.13vmax 0px darkgreen, -0.13vmax 0.13vmax 0px darkgreen;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#updateLogModal {
	width: 100%;
	height: 100%;
	margin: 0;
	left: 0;
	top: 0;
	overflow: auto;
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}

#updateLogContent {
	width: 50%;
	margin-left: 25%;
	text-shadow: initial;
	color: black;
	position: absolute;
	animation: modalOpenFromBottom 1s;
}

#updateLogHeader {
	text-align: center;
	background-color: white;
	margin: 0;
}

#closeBtn {
	color: black;
	float: right;
	font-weight: bold;
	margin-right: 1vmax;
	margin-top: -0.5vmax;
}

#closeBtn:hover {
	color:	lime;
	cursor: pointer;
}

#updateLogVersions {
	margin: 0;
	padding: 1vmax;
	padding-right: 0;
	text-align: left;
	background-color: lightgrey;
}

.optionsDropdown {
	background-color: rgba(0,0,0,0.7);
	font-size: 100%;
	text-align: center;
	padding: 0.5% 2%;
	margin-left: 1vmax;
	float: right;
}

.optionsContent {
	display: none;
	cursor: pointer;
}

.optionsDropdown:hover .optionsContent {
	display: block;
}

.optionsContent p:hover {
	color: limegreen;
}

#animationArea, #upgradeArea {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	height: 100%;
}

#animationArea {
	width: 75%;
	background-color: rgba(0,255,0,0.15);
}

#bitsCounter {
	margin: 0 auto;
	padding: 1.3vmax;
	width: 20vmax;
	font-size: 2vmax;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	text-align: left;
}

#clickerButton {
	width: 10.35vmax;
	height: 6.9vmax;
	top: 50%;
	left: 50%;
	margin-top: -5.175vmax;
	margin-left: -5.175vmax;
	position: relative;
	background-color: darkgrey;
	border-left: solid #8b8b8b;
	border-bottom: solid #8b8b8b;
	border-radius: 5%;
	border-width: .5vmax;
	cursor: pointer;
}

#clickerButton.clickerButtonClicked {
	border-style: solid solid none none;
	border-color: #7a7a7a
}

#clickText p {
	will-change: transform;
	position: absolute;
	font-family: "Luckiest Guy";
	font-size: 2vmax;
	text-shadow: 0px 0px 3px green;
	animation: textFade 1s;
	cursor: pointer;
}

#upgradeArea {
	width: 25%;
	left: 75%;
	box-sizing: border-box;
	border: 0.65vmax solid green;
	overflow-x: hidden;
	scrollbar-width: none;
	position: absolute;
}

#upgradeHeader {
	margin: 1.742vmax 0;
	text-align: center;
}

#unlockedUpgrades {
	padding: 1vmax;
	min-height: 3.256vmax;
	border-bottom: green 0.65vmax solid;
	border-top: green 0.65vmax solid;
}

#unlockedUpgrades button {
	width: 3.256vmax;
	height: 3.256vmax;
	margin-right: 0.5vmax;
	background-size:  3.255208vmax  3.255208vmax;
	border: white 0.1vmax solid;
	cursor: pointer;
}

#unlockedUpgrades button:nth-child(n + 6){
	margin-top: 0.5vmax;
}

#clickerUpgrade1 {
	background: url(images/achievementImages/bronzeCursor.png) no-repeat;
	display: none;
}

#clickerUpgrade2 {
	background: url(images/achievementImages/silverCursor.png) no-repeat;
	display: none;
}

#clickerUpgrade3 {
	background: url(images/achievementImages/goldCursor.png) no-repeat;
	display: none;
}

#clickerUpgrade4 {
	background: url(images/achievementImages/platinumCursor.png) no-repeat;
	display: none;
}

#keyloggerUpgrade1 {
	background: url(images/achievementImages/keylogger1.png) no-repeat;
	display: none;
}

#keyloggerUpgrade2 {
	background: url(images/achievementImages/keylogger2.png) no-repeat;
	display: none;
}

#keyloggerUpgrade3 {
	background: url(images/achievementImages/keylogger3.png) no-repeat;
	display: none;
}

#keyloggerUpgrade4 {
	background: url(images/achievementImages/keylogger4.png) no-repeat;
	display: none;
}

#phishingUpgrade1 {
	background: url(images/achievementImages/phishing1.png) no-repeat;
	display: none;
}

#phishingUpgrade2 {
	background: url(images/achievementImages/phishing2.png) no-repeat;
	display: none;
}

#phishingUpgrade3 {
	background: url(images/achievementImages/phishing3.png) no-repeat;
	display: none;
}

#phishingUpgrade4 {
	background: url(images/achievementImages/phishing4.png) no-repeat;
	display: none;
}

#CU1-hoverText, #CU2-hoverText, #CU3-hoverText, #CU4-hoverText, #KU1-hoverText, #KU2-hoverText, #KU3-hoverText, #KU4-hoverText, #PU1-hoverText, #PU2-hoverText, #PU3-hoverText, #PU4-hoverText {
	position: relative;
	width: 16vmax;
	height: 18vmax;
	top: 11%;
	left: 11%;
	padding: 0.5vmax 1vmax;
	float: right;
	background-color: #fff;
	color: black;
	display: none;
	text-align: center;
	text-shadow: initial;
	font-size: 1.25vmax;
	line-height: 1.2em;
}

#upgradeList {
	margin: 0.75vmax;
	overflow-y: scroll;
	border-collapse: collapse;
}

#upgradeList:last-child {
	padding-bottom: 0.65vmax;
}

#keyloggerBtn, #phishingSiteBtn, #ransomwareBtn, #botnetBtn, #superComputerBtn {
	font-size: 1.1vmax;
	width: 21.5vmax;
	padding: 1vmax;
	background: url(images/UpgradeButtons.png) no-repeat;
	background-size: 100% 10.612vmax;
	cursor: pointer;
}

.greyedOut {
	opacity: 0.6;
	cursor: default !important;
}

#autosaveArea {
	bottom: 0%;
	width: 15%;
	padding-left: 1.3vmax;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	border: none;
	font-size: 100%;
	opacity: 0;
}

#autosaveArea.anim {
	animation-name: autosaveFade;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
